@{
    ViewData["Title"] = "Home Page";
}
@model CoinViewModel
@using Newtonsoft.Json;
@using CryptoAnalyzer.Extensions;

<div class="statsBlock">
    <div class="statsLabel">
        Price
    </div>
    <div class="statsItem">
        <div class="statsValue">$ @Model.CoinRecap.LastPrice.RoundThirdSignificantDigit()</div>
        <span class="statsVariation @(Model.CoinRecap.PriceVariation24h > 0 ? "up":"down")">
            <i class="arrow @(Model.CoinRecap.PriceVariation24h > 0 ? "up":"down")"></i>
            @(Math.Round(Model.CoinRecap.PriceVariation24h*100, 2))%
        </span>
    </div>
</div>
<div id="chartContainerPrice" class="chart mx-auto"></div>
<div id="chartContainerVolume" class="chart mx-auto"></div>
<script>
    $(document).ready(function () {
        mySite.addNewMultiSeriesCanvasChart("chartContainerPrice", "Daily Price", @Html.Raw(JsonConvert.SerializeObject(Model.PriceSeries)),
            "Today", @Html.Raw(JsonConvert.SerializeObject(Model.PriceSeriesYesterday)), "Yesterday");
        mySite.addNewMultiSeriesCanvasChart("chartContainerVolume", "Daily Volume", @Html.Raw(JsonConvert.SerializeObject(Model.VolumeSeries)),
            "Today", @Html.Raw(JsonConvert.SerializeObject(Model.VolumeSeriesYesterday)), "Yesterday");
    });
</script>

@section Scripts {
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
}

